In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('emaildb.sqlite')

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('''DROP TABLE IF EXISTS Counts''')

In [ ]:
cur.execute(
    '''CREATE TABLE Counts (
    EML TEXT,
    count INTEGER)''')

In [ ]:

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    
    email = pieces[1]
    print(email)
    print('\n')
    cur.execute('SELECT count FROM Counts WHERE EML = ? ', (email,))
    row = cur.fetchone()
    print(row)
    if row is None:
        cur.execute('''INSERT INTO Counts (EML, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE EML = ?',
                    (email,))
    conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT EML, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()